body
{
    background-image: url("https://wallpapercave.com/wp/wp2613871.jpg");
    background-size: cover;
    background-position: center;
    letter-spacing: 2px;
    font-weight: bold;
    color:blanchedalmond;
    font-size: 20px
}

h1
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}

h2
{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}


table
{
    width: 80%;
    margin: 40px auto;
    background: rgba(0, 0, 0, 0.5);

    
}

form
{
    text-transform: uppercase;
}

table.list
{
    text-align: center;
    width: 100%;
}

td
{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr
{
    background-color: rbg(204,200,200);
}

input[type="text"], input[type="number"]
{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rbg(165,161,161);
    border-radius: 4px;
}

input[type="submit"], input[type="reset"]
{
    background: #eee;
    width: 91%;
    padding: 12px 20px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 1px solid rbg(165,161,161);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover
{
    background: #4b99d8;
}

input[type="reset"]:hover
{
    background: #4b99d8;
}

button
{
    background: #eee;
    width: 91%;
    padding: 12px 20px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 1px solid rbg(165,161,161);
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover
{
    background: #4b99d8;
}